*{
    margin: 0px;
    padding: 0px;
    background-color: black;
}
h1{
    color: white;
    text-align: center;
}
/* div{
    height: 400px;
    background-color: red;
    padding: 10px; 
    flex-wrap: wrap;  */

img{
    width: 200px;
    border: 2px solid black;
}
#set1{
    justify-content: space-between;
    display: flex;
    background-color: blue;
    align-items: center;
    padding: 15px;
    margin: 10px;
}
#set2{
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
    padding: 15px;
    margin: 10px;
}
.daftpunk{
    background-color: white;
}
#set3{
    display: flex;
    background-color: aqua;
    padding: 15px;
    justify-content: space-between;
    margin: 10px;
}
#stormtrooper{
    background-color: white;
}